<!DOCTYPE html>
<html>
<head>

</head>
<body>

<form action='{% url "elasticsearch_results" %}' method="GET">
    <input type="text" name='q' placeholder="Поле поиска">
    <input type="submit" value="Search">
</form>

</body>
</html>